<% cache(:controller => "alle", :action => "fusszeile") do -%>
desphon - letzte Aktualisierung: <%= letzte_aktualisierung.html_datum -%> - <a href="mailto:bhaak@gmx.net?subject=[desphon] ">Patric Mueller</a> <span class="e-mail">&lt;bhaak@gmx.net&gt;</span>
<% end -%>
