<div class="header" style="border: 3px solid; margin: 3px;">
<%= link_to image_tag("desphon.png",:alt => "desphon: Deutschsprachige Phantastik Online"), :controller => 'homepage', :action => 'index' %>
</div>
