<div class="header">
<%= link_to image_tag("/desphon/images/desphon.png",:alt => "desphon: deutschsprachige Phantastik online", :title => "desphon: deutschsprachige Phantastik online"), :controller => 'homepage', :action => 'index', :trailing_slash => true -%>
</div>
