<% cache(:controller => "alle", :action => "links") do -%>
<div class="links">
<%= link_to "FAQ", :action => "faq", :controller => "homepage" -%><br />
<%= link_to "&uuml;ber", :action => "ueber", :controller => "homepage" -%><br />
</div>
<% end -%>
