<% news and news.children.reverse.slice(range).each {|n| -%>
<div class="neuigkeit">
<h3 id="<%= n.slug -%>"><%= n.title -%></h3>
<div class="datum"><%= n.created_on.strftime("%d. %b %Y %H:%M") -%></div>
<div class="text"><%= n.to_html -%></div>
</div>
<% } -%>
