<%= render :partial => 'neuigkeiten', :locals => {:news => @news, :range => 0..2} -%>

<%= '<span class="neuigkeiten_link"'+
    link_to("ältere Neuigkeiten &hellip;", :action=>'neuigkeiten')+
		'</span>' if @news.children.length > 3 -%>
