<%= render :partial => 'neuigkeiten', :locals => {:news => @news, :range => 0..2} -%>

<%= '<div class="neuigkeiten_link">'+
    link_to("weitere Nachrichten &hellip;", :action=>'neuigkeiten')+
		'</div>' if @news and @news.children.length > 3 -%>
