html, body {
	color: black;
	background-color: #ccc;
}

h1 {
	font-size: 130%;
}
h3 {
	font-size: 115%;
}

#container { 
	background-color: #bbb;
	border: 1px solid black;
}

#inhalt { 
	min-height: 500px;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	background-color: #ccc;
}


#navigation, #fusszeile {
	font-family: Tahoma, sans-serif;
}

#navigation {
	color: white;
	background-color: #bbb;
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	padding-top: 0;
}

#fusszeile {
	color: black; 
	background-color: #bbb; /* gleiche Hintergrundsfarbe wie container */
}

.e-mail { display: none; }


.statistik, .empfohlener_link, .links, .suche {
	font-size: 70%;
	border: 1px solid black;
	margin: 2px;
	padding: 2px;
}

.suche input { 
  margin: 0.2em;
}

.statistik * li {
	display: block;
	text-indent: 0em;
	/*border: 1px solid red;*/
	list-style: none; /* IE braucht das */
}

.statistik ul {
	display: block;
	margin: 0;
	padding-left: 0;
	/*border: 1px solid blue;*/
}
.statistik ul ul {
	padding-left: 1em;
}

#fusszeile {
	text-align: center;
	vertical-align: middle;
	font-size: 60%;
	padding: 0.5ex;
}
#fusszeile a {
	text-decoration: none;
}

#yield {
	margin-left: 0.5em;
	margin-right: 0.5em;
	overflow-x: auto;
}


.neuigkeiten_link { 
	text-align: right;
	margin-right: 0.5em;
	max-width: 70ex;
}

.faq_eintrag, .neuigkeit { 
	margin-right: 0.5em;
	margin-bottom: 1em;
	max-width: 70ex;
}


.faq_eintrag h3, .neuigkeit h3 { 
	border: 1px solid #727272;
	border-bottom: 0px solid #727272;
	margin: 0;
	padding: 0.1em 0 0.1em 0.3em;
	/*border: red 1px solid;*/
	background-color: #f0f0f0;

	border-radius-topleft: 0.4ex;
	border-radius-topright: 0.4ex;
	-moz-border-radius-topleft: 0.4ex;
	-moz-border-radius-topright: 0.4ex;
	-khtml-border-radius-topleft: 0.4ex;
	-khtml-border-radius-topright: 0.4ex;
	-webkit-border-radius-topleft: 0.4ex;
	-webkit-border-radius-topright: 0.4ex;
	-opera-border-radius-topleft: 0.4ex;
	-opera-border-radius-topright: 0.4ex;
}
.neuigkeit .datum { 
	border-top: 1px solid #727272;
	border-left: 1px solid #727272;
	border-right: 1px solid #727272;
	padding-left: 0.5em;
	font-size: 60%;
	background-color: #dedede;
}
.faq_eintrag .text, .neuigkeit .text {
	border: 1px solid #727272;
	padding: 0px;
	padding-left: 0.3em;
	padding-right: 0.3em;
	background-color: #dedede;

	border-radius-bottomleft: 0.4ex;
	border-radius-bottomright: 0.4ex;
	-moz-border-radius-bottomleft: 0.4ex;
	-moz-border-radius-bottomright: 0.4ex;
	-khtml-border-radius-bottomleft: 0.4ex;
	-khtml-border-radius-bottomright: 0.4ex;
	-webkit-border-radius-bottomleft: 0.4ex;
	-webkit-border-radius-bottomright: 0.4ex;
	-opera-border-radius-bottomleft: 0.4ex;
	-opera-border-radius-bottomright: 0.4ex;
}

.nobullets {
	list-style: square;
}

div.imagelink a img, .header a img { border: none; text-decoration: none; }

.header {
	background-color: black;
	margin: 2px;
	overflow: hidden;
}

.sortable td {
	padding-left: 0.2em;
	padding-right: 0.2em;
}
.sortable th a {
	text-decoration: none;
}
.sortable th img {
	border: 0px solid black;
}
.sortable .jahr {
	text-align: center;
}
.odd {
	background-color: #aaa;
}
.even {
	background-color: #bbb;
}
