/*
body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid grey;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}


span.beschreibung { 
  text-indent: -2em;
  padding-left: 2em;
  display: block;
}

div.statistik, div.empfohlener_link {
  background-color: white;
  border: 0.1em solid silver;
  
} 
div.aussen, div.innen { 
  border: 0.2em solid black;
}
*/

h1 {
  font-size: 130%;
}
h3 {
  font-size: 115%;
}

#container { 
  background-color: #bbb;
  border: 1px solid black;
}

#inhalt { 
  min-height: 500px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  background-color: #ccc;
}


#navigation {
  color: white;
  background-color: #ccc;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 0;
}

#fusszeile {
  background-color: #bbb; /* gleiche Hintergrundsfarbe wie container */
}

.e-mail { display: none; }


/*
html, body {
  margin: 0;
  min-height: 100%;
}
*/

/* */
.statistik, .empfohlener_link, .links {
  font-size: 70%;
	border: 1px solid black;
	margin: 2px;
	padding: 2px;
}

.statistik * li {
	display: block;
	text-indent: 0em;
	/*border: 1px solid red;*/
	list-style: none; /* IE braucht das */
}

.statistik ul {
	display: block;
	margin: 0;
	padding-left: 0;
	/*border: 1px solid blue;*/
}
.statistik ul ul {
	padding-left: 1em;
}

#fusszeile {
}
#fusszeile {
	text-align: center;
	vertical-align: middle;
  font-size: 60%;
	padding: 0.5ex;
}
#fusszeile a {
	text-decoration: none;
}

#yield {
  margin-left: 0.5em;
  margin-right: 0.5em;
  overflow-x: auto;
}


.neuigkeiten_link { 
  text-align: right;
  margin-right: 0.5em;
  max-width: 70ex;
}

.faq_eintrag, .neuigkeit { 
  margin-right: 0.5em;
  margin-bottom: 1em;
  max-width: 70ex;
}


.faq_eintrag h3, .neuigkeit h3 { 
  border: 1px solid #727272;
  border-bottom: 0px solid #727272;
  margin: 0;
  padding: 0.1em 0 0.1em 0.3em;
  /*border: red 1px solid;*/
  background-color: #f0f0f0;

  border-radius-topleft: 0.4ex;
  border-radius-topright: 0.4ex;
  -moz-border-radius-topleft: 0.4ex;
  -moz-border-radius-topright: 0.4ex;
  -khtml-border-radius-topleft: 0.4ex;
  -khtml-border-radius-topright: 0.4ex;
  -webkit-border-radius-topleft: 0.4ex;
  -webkit-border-radius-topright: 0.4ex;
  -opera-border-radius-topleft: 0.4ex;
  -opera-border-radius-topright: 0.4ex;
}
.neuigkeit .datum { 
  border-top: 1px solid #727272;
  border-left: 1px solid #727272;
  border-right: 1px solid #727272;
  padding-left: 0.5em;
  font-size: 60%;
  background-color: #dedede;
}
.faq_eintrag .text, .neuigkeit .text {
  border: 1px solid #727272;
  padding: 0px;
  padding-left: 0.3em;
  padding-right: 0.3em;
  background-color: #dedede;

  border-radius-bottomleft: 0.4ex;
  border-radius-bottomright: 0.4ex;
  -moz-border-radius-bottomleft: 0.4ex;
  -moz-border-radius-bottomright: 0.4ex;
  -khtml-border-radius-bottomleft: 0.4ex;
  -khtml-border-radius-bottomright: 0.4ex;
  -webkit-border-radius-bottomleft: 0.4ex;
  -webkit-border-radius-bottomright: 0.4ex;
  -opera-border-radius-bottomleft: 0.4ex;
  -opera-border-radius-bottomright: 0.4ex;
}

.nobullets {
	list-style: square;
}

div.imagelink a img { border: none; text-decoration: none; }

