<h1>Editing onlinetext</h1>

<% form_tag :action => 'update', :id => @onlinetext do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @onlinetext %> |
<%= link_to 'Back', :action => 'list' %>
