<h1>Autorenlink erstellen</h1>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Zurück', :controller => 'autoren', :action => 'show', :id => @autorenlink.autor_id -%>
