<% for column in Autor.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @autor.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @autor %> |
<%= link_to 'Back', :action => 'list' %>
